*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p{
    line-height: 1.4;
    color: #585858;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    padding: 20px 0;
    border: 1px solid #a09c9c;
}

header .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content ul{
    list-style-type: none;
    display: flex;
}

header .content ul li{
   margin-left: 10px;
}

.title-box{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-box span{
    color: #050505;
}
.title-box small{
    color: #626161;
}

section.cover {
    margin-top: 26px;
}
section.cover img{
  width: 100%;
}
section.cover p.caption{
   color: #777777;
   margin-top: 20px;
   font-size: 16px;
}
section.cover p.dots{
   font-size: 30px;
   margin: 45px auto;
   display: flex;
   justify-content: center;
}

section.box-info{
    margin-bottom: 50px;
}
section.box-info h4{
   margin-bottom: 14px;
}

footer{
    background-color: #EEEEEE;
    padding: 20px 0;
}

footer .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img{
    width: 20px;
}

.home-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-cover{
    position: relative;
    height: 488px;
    overflow: hidden;
}

.home-cover .overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #04040447;
}

.home-cover .overlay h1{
    color: #FCE00D;
    font-size: 45px;
    margin-top: 180px;
}
.home-cover .overlay p{
    color: #fff;
    font-size: 28px;
}

.blog-list{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 50px;
   margin-top: -100px !important;
   position: relative;
   margin-bottom: 100px;
}

.blog-list .blog-item .img{
    height: 200px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}
.blog-list .blog-item img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.blog-list .blog-item small{
    color: #626161;
}
.blog-list .blog-item .card-footer{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-list .blog-item .card-footer span{
    color: #626161;
    font-size: 14px;
}

